* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

.container {
  background-color: #151515;
  display: flex;
  justify-content: center;
  border-bottom: .625rem solid #3853FD;
}

