header {
  display: flex;
  background-color: #151515;
  padding-inline: 5rem;
  align-items: center;
  justify-content: space-between;
  width: 90rem;
  

  & > img {
    margin-block: 1.625rem;
    width: 19rem;
    height: 4.25rem;
  }

  ul[role="list"]{
    display: flex;
    gap: 2.18rem;
    align-items: center;

    a{
      text-decoration: none;
    }

    a:nth-child(4){
      padding: 0.8rem 2.18rem;
      border: 1px solid #3853FD;
      border-radius: 9.735rem;
      background-color: #3852fd23;
    }
  }

}

  ul li {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: white;
    list-style: none;
  }
